/*CSS pour liens externes*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav div {
  width: 150px;
  text-align: center;
}

.nav a {
  display: block; /* Le lien prend toute la largeur du div */
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #424242;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Effet hover */
.nav a:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
/* Lien Forme3D */

.link-3d a {
  color: #7ed957;
}
/*Loupe info*/

.form-link img {
  transition: transform 0.3s ease; /* Transition de 0.3 secondes */
  transform: translateY(0); /* Position initiale */
}

.form-link img:hover {
  transform: translateY(-5px);
}

/* CSS du conteneur */

.container-calcul {
  position: relative;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  height: 100%;
  width: auto;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #424242;
  font-weight: 900;
  text-transform: uppercase;
}

.container input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

.container-calcul button {
  padding: 5px 10px;
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-calcul button:hover {
  background-color: #525252;
}

.container-calcul button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Marge du bas pour Ajouter carré */
.row-equal-height {
  margin-bottom: 20px;
}

/* CSS pour liste des carrés ajoutés */

.mini-container {
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  width: auto;
}

.mini-container button {
  margin: 10px 10px 0 0;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: #9e9e9e;
}

.mini-container button:hover {
  background-color: #757575;
}

/* CSS pour le carré trouver par son ID */

.mini-card {
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  margin: 0;
  width: 43%;
}

/* CSS bouton calculer */

.calcul-result button {
  background-color: #2C6015;
}

.calcul-result button:hover {
  background-color: #3A7C1C;
}

/* CSS pour la fleche du selecteur id dans modifier carré */

select.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  background-color: white;
  cursor: pointer;
  width: 25%;
  margin: 1px;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='black'><polygon points='0,0 8,0 6,8'/></svg>")
    no-repeat;
  background-position: right 10px center; /* Ajustez selon vos besoins */
  padding-right: 20px; /* Ajoute un espace à droite pour l'icône */
}
