<!-------------------------------------------Navigateur------------------------------------------------>
<div class="nav row">
  <div class="text-center mb-2 link-3d">
    <a routerLink="/forme3d"><b>3 D</b></a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/triangle">Triangle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/rectangle">Rectangle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/cercle">Cercle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/losange">Losange</a>
  </div>
</div>

<!--------------------------------------------Caluler-------------------------------------------------->

<div class="container container-calcul">
  <div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center container-fluid">
      <div class="form-link col-2"><a href="https://fr.wikipedia.org/wiki/Carr%C3%A9" target="_blank"><img src="assets/images/loupe.png" alt="lien wikipédia" class="img-fluid"></a>
      </div>
      <div>
        <img src="assets/images/1.png" alt="carré" class="img-fluid mt-3" />
      </div>
    </div>
    <div class="col-12 col-md-6">
  <div class="carre-calcul">
    <!-- Nom -->
    <div class="row justify-content-center align-items-center mb-3">
      <label for="nom1" class="col-12 col-sm-4 col-md-3 col-lg-2">Nom</label>
      <div class="col-12 col-sm-8 col-md-9 col-lg-8">
        <input id="nom1" [(ngModel)]="nom" type="text" class="form-control" />
      </div>
    </div>

    <!-- Couleur -->
    <div class="row justify-content-center align-items-center mb-3">
      <label for="couleur1" class="col-12 col-sm-4 col-md-3 col-lg-2">Couleur</label>
      <div class="col-12 col-sm-8 col-md-9 col-lg-8">
        <input id="couleur1" [(ngModel)]="couleur" type="text" class="form-control" />
      </div>
    </div>

    <!-- Côté a -->
    <div class="row justify-content-center align-items-center mb-3">
      <label for="a1" class="col-12 col-sm-4 col-md-3 col-lg-2">a</label>
      <div class="col-12 col-sm-8 col-md-9 col-lg-8">
        <input id="a1"[(ngModel)]="cote" type="number" min="0" class="form-control" />
      </div>
    </div>

    <!-- Résultats du calcul -->
    <div class="calcul-result">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-8 m-2">
          <strong>Surface</strong> {{ surface.toFixed(2) }} m<sup>2</sup>
        </div>
        <div class="col-12 col-lg-8 mb-3">
          <strong>Périmètre</strong> {{ perimetre.toFixed(2) }} m
        </div>
        <div class="col-12 col-lg-8">
          <button class="btn btn-primary" (click)="calculer()">Calculer</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-------------------------------------Lecture des carrés existants----------------------------------->

<div class="container-calcul">
  <h2>Voir les carrés existants</h2>
  <button class="btn btn-primary" (click)="toggleCarres()"><i class="bi bi-caret-down"></i><i class="bi bi-caret-up"></i><span class="sr-only"> Afficher ou masquer les carrés</span></button>
  <div *ngIf="showCarres">
    <!--*ngIf Directive structurelle Angular: pour conditionnellement inclure ou exclure un élement du DOM en fonction d'un boolean -->
    <div class="row">
      <div *ngFor="let carre of carres" class="col-3">
        <!--*ngFor Directive structurelle Angular:  affiche un élément du DOM pour chaque élément de la collection. -->
        <div class="mini-container">
          <p><Strong>Nom :</Strong> {{ carre.nom }}</p>
          <p><Strong>Couleur :</Strong> {{ carre.couleur }}</p>
          <p><Strong>a :</Strong> {{ carre.cote }} m</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-calcul">
  <div class="row">
    <!---------------------------------- Modifier un carré ------------------------------------------->
    <div class="col-12 col-md-6 mb-4">
      <h2 class="text-center">Modifier un carré</h2>
      <form (ngSubmit)="updateCarre()">
        <!-- ngSubmit Directive Angular pour gérer la soumision de formulaire  -->
        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2 mt-3">
            <label for="id">Id</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-6 mt-3">
            <!-- (change) évenement de liaison d'évenement Angular -->
            <select
              id="id"
              [(ngModel)]="selectedCarreId"
              name="carreId"
              class="form-control"
              (change)="onIdChange()"
              required
            >
              <option *ngFor="let carre of carres" [value]="carre.id">
                {{ carre.id }}
              </option>
            </select>
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2">
            <label for="nom2">Nom</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-4">
            <input
              id="nom2"
              type="text"
              [(ngModel)]="nom"
              name="nom"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2">
            <label for="couleur2">Couleur</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-4">
            <input
              type="text"
              id="couleur2"
              [(ngModel)]="couleur"
              name="couleur"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2">
            <label for="a2">a</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-4">
            <input
              type="number"
              min="0"
              id="a2"
              [(ngModel)]="cote"
              name="cote"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3">Modifier</button>
        </div>
      </form>
    </div>

    <!---------------------------- Rechercher un Carré à partir de son ID ---------------------------->
    <div class="col-12 col-md-6">
      <div class="d-flex align-items-center justify-content-between">
        <label for="selectCarreId" class="text-center w-100">Sélectionnez un carré :</label>
        <div class="input-group w-50 mt-3 mx-auto">
          <select
            id="selectCarreId"
            class="form-control"
            [(ngModel)]="selectedCarreId"
            (change)="getCarreById(selectedCarreId)"
          >
            <option *ngFor="let carre of carres" [value]="carre.id">
              {{ carre.id }}
            </option>
          </select>
        </div>
      </div>

      <!-- Section pour afficher les détails du carré recherché -->
      <div *ngIf="carre" class="mt-3">
        <div class="mini-card p-3 border rounded">
          <p><strong>Nom :</strong> {{ carre.nom }}</p>
          <p><strong>Couleur :</strong> {{ carre.couleur }}</p>
          <p><strong>a :</strong> {{ carre.cote }} m</p>
          <p>
            <strong>Surface :</strong>
            {{ carre.cote * carre.cote | number : "1.2-2" }} m<sup>2</sup>
          </p>
          <p>
            <strong>Périmètre :</strong>
            {{ 4 * carre.cote | number : "1.2-2" }} m
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-------------------------------------------Ajouter un carré----------------------------------------->
<div class="row">
  <div class="col-12 col-lg-4 mb-4">
    <div class="container-calcul p-3 border rounded">
      <h2 class="text-center">Ajouter un carré</h2>
      <form (ngSubmit)="addCarre(nom, couleur, cote)">
        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-4">
            <label for="nom">Nom</label>
          </div>
          <div class="col-12 col-sm-8">
            <input
              type="text"
              id="nom"
              [(ngModel)]="nom"
              name="nom"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-4">
            <label for="couleur">Couleur</label>
          </div>
          <div class="col-12 col-sm-8">
            <input
              type="text"
              id="couleur"
              [(ngModel)]="couleur"
              name="couleur"
              class="form-control"
              required
            />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-4">
            <label for="cote">a</label>
          </div>
          <div class="col-12 col-sm-8">
            <input
              type="number"
              min="0"
              id="cote"
              [(ngModel)]="cote"
              name="cote"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
  <!------------------------------Liste de tous les carrés avec bouton supprimer---------------------------->
  <div class="col-12 col-lg-8">
    <h2 class="text-center mt-2 mini-container"><i class="bi bi-trash-fill"></i> Liste des Carrés</h2>
    <div class="row">
      <div *ngFor="let carre of carres" class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="mini-container p-3 border rounded">
          <p><strong>Nom :</strong> {{ carre.nom }}</p>
          <p><strong>Couleur :</strong> {{ carre.couleur }}</p>
          <p><strong>a :</strong> {{ carre.cote }} m</p>
          <p>
            <strong>Surface :</strong>
            {{ carre.cote * carre.cote | number : "1.2-2" }} m<sup>2</sup>
          </p>
          <p>
            <strong>Périmètre :</strong>
            {{ 4 * carre.cote | number : "1.2-2" }} m
          </p>
          <div class="text-center">
            <button class="btn btn-danger mt-2" (click)="deleteCarre(carre)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

