<!------------------------------------------Navigateur------------------------------------------------>
<div class="nav row">
  <div class="text-center mb-2 link-3d">
    <a routerLink="/forme3d"><b>3 D</b></a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/carre">Carré</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/rectangle">Rectangle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/cercle">Cercle</a>
  </div>
  <div class="text-center mb-2">
    <a routerLink="/losange">Losange</a>
  </div>
</div>

<!--------------------------------------------Calculer-------------------------------------------------->
<div class="container container-calcul">
  <div class="row">
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center container-fluid">
      <div class="form-link col-2"><a href="https://fr.wikipedia.org/wiki/Triangle_rectangle" target="_blank"><img src="assets/images/loupe.png" alt="lien wikipédia" class="img-fluid"></a>
      </div>
      <div>
        <img src="assets/images/3.png" alt="triangle" class="img-fluid mt-3" />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="triangle-calcul">
        <!-- Nom -->
        <div class="row justify-content-center align-items-center mb-3">
          <div class="col-12 col-sm-4 col-md-3 col-lg-2">Nom</div>
          <div class="col-12 col-sm-8 col-md-9 col-lg-8">
            <input [(ngModel)]="nom" type="text" class="form-control" />
          </div>
        </div>

        <!-- Couleur -->
        <div class="row justify-content-center align-items-center mb-3">
          <div class="col-12 col-sm-4 col-md-3 col-lg-2">Couleur</div>
          <div class="col-12 col-sm-8 col-md-9 col-lg-8">
            <input [(ngModel)]="couleur" type="text" class="form-control" />
          </div>
        </div>

        <!-- Côté adjacent (a) -->
        <div class="row justify-content-center align-items-center mb-3">
          <div class="col-12 col-sm-4 col-md-3 col-lg-2">a</div>
          <div class="col-12 col-sm-8 col-md-9 col-lg-8">
            <input [(ngModel)]="coteAdjacent" type="number" min="0" class="form-control" />
          </div>
        </div>

        <!-- Côté opposé (b) -->
        <div class="row justify-content-center align-items-center mb-3">
          <div class="col-12 col-sm-4 col-md-3 col-lg-2">b</div>
          <div class="col-12 col-sm-8 col-md-9 col-lg-8">
            <input [(ngModel)]="coteOppose" type="number" min="0" class="form-control" />
          </div>
        </div>

        <!-- Résultats du calcul -->
        <div class="calcul-result">
          <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-8 m-2">
              <strong>Surface</strong> {{ surface | number : "1.2-2" }} m<sup>2</sup>
            </div>
            <div class="col-12 col-lg-8 mb-3">
              <strong>Périmètre</strong> {{ perimetre | number : "1.2-2" }} m
            </div>
            <div class="col-12 col-lg-8">
              <button class="btn btn-primary" (click)="calculer()">Calculer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------Lecture des triangles existants----------------------------------->
<div class="container-calcul">
  <h2>Voir les triangles existants</h2>
  <button class="btn btn-primary" (click)="toggleTriangles()">
    <i class="bi bi-caret-down"></i><i class="bi bi-caret-up"></i><span class="sr-only"> Afficher ou masquer les carrés</span>
  </button>
  <div *ngIf="showTriangles">
    <div class="row">
      <div *ngFor="let triangle of triangles" class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="mini-container p-3 border rounded">
          <p><strong>Nom :</strong> {{ triangle.nom }}</p>
          <p><strong>Couleur :</strong> {{ triangle.couleur }}</p>
          <p><strong>a :</strong> {{ triangle.coteAdjacent }} m</p>
          <p><strong>b :</strong> {{ triangle.coteOppose }} m</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-calcul">
  <div class="row">
    <!---------------------------------- Modifier un triangle ------------------------------------------->
    <div class="col-12 col-md-6 mb-4">
      <h2 class="text-center">Modifier un triangle</h2>
      <form (ngSubmit)="updateTriangle()">
        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2 mt-3">
            <label for="id">Id</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-6 mt-3">
            <select [(ngModel)]="selectedTriangleId" name="triangleId" class="form-control" (change)="onIdChange()" required>
              <option *ngFor="let triangle of triangles" [value]="triangle.id">
                {{ triangle.id }}
              </option>
            </select>
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2">
            <label for="nom">Nom</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-4">
            <input type="text" id="nom" [(ngModel)]="nom" name="nom" class="form-control" required />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2">
            <label for="couleur">Couleur</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-4">
            <input type="text" id="couleur" [(ngModel)]="couleur" name="couleur" class="form-control" required />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2">
            <label for="coteAdjacent">a</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-4">
            <input type="number" min="0" id="coteAdjacent" [(ngModel)]="coteAdjacent" name="coteAdjacent" class="form-control" required />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-3 col-lg-2">
            <label for="coteOppose">b</label>
          </div>
          <div class="col-12 col-sm-9 col-lg-4">
            <input type="number" min="0" id="coteOppose" [(ngModel)]="coteOppose" name="coteOppose" class="form-control" required />
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3">Modifier</button>
        </div>
      </form>
    </div>

    <!---------------------------- Rechercher un Triangle à partir de son ID ---------------------------->
    <div class="col-12 col-md-6">
      <div class="d-flex align-items-center justify-content-between">
        <h2 class="text-center w-100">Recherche par ID</h2>
        <div class="input-group w-50 mt-3 mx-auto">
          <select class="form-control" [(ngModel)]="selectedTriangleId" (change)="getTriangleById(selectedTriangleId)">
            <option *ngFor="let triangle of triangles" [value]="triangle.id">
              {{ triangle.id }}
            </option>
          </select>
        </div>
      </div>

      <!-- Section pour afficher les détails du triangle recherché -->
      <div *ngIf="triangle" class="mt-3">
        <div class="mini-card p-3 border rounded">
          <p><strong>Nom :</strong> {{ triangle.nom }}</p>
          <p><strong>Couleur :</strong> {{ triangle.couleur }}</p>
          <p><strong>a :</strong> {{ triangle.coteAdjacent }} m</p>
          <p><strong>b :</strong> {{ triangle.coteOppose }} m</p>
          <p>
            <strong>Surface :</strong>
            {{ 0.5 * triangle.coteAdjacent * triangle.coteOppose | number : "1.2-2" }} m<sup>2</sup>
          </p>
          <p>
            <strong>Périmètre :</strong>
            {{ triangle.coteAdjacent + triangle.coteOppose + RC(triangle.coteAdjacent * triangle.coteAdjacent + triangle.coteOppose * triangle.coteOppose) | number : "1.2-2" }} m
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------Ajouter un triangle----------------------------------------->
<div class="row">
  <!-- Div parente -->
  <div class="col-12 col-lg-4 mb-4">
    <div class="container-calcul p-3 border rounded">
      <h2 class="text-center">Ajouter un triangle</h2>
      <form (ngSubmit)="addTriangle(nom, couleur, coteAdjacent, coteOppose)">
        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-4">
            <label for="nom">Nom</label>
          </div>
          <div class="col-12 col-sm-8">
            <input type="text" id="nom" [(ngModel)]="nom" name="nom" class="form-control" required />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-4">
            <label for="couleur">Couleur</label>
          </div>
          <div class="col-12 col-sm-8">
            <input type="text" id="couleur" [(ngModel)]="couleur" name="couleur" class="form-control" required />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-4">
            <label for="coteAdjacent">a</label>
          </div>
          <div class="col-12 col-sm-8">
            <input type="number" min="0" id="coteAdjacent" [(ngModel)]="coteAdjacent" name="coteAdjacent" class="form-control" required />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-4">
            <label for="coteOppose">b</label>
          </div>
          <div class="col-12 col-sm-8">
            <input type="number" min="0" id="coteOppose" [(ngModel)]="coteOppose" name="coteOppose" class="form-control" required />
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
        </div>
      </form>
    </div>
  </div>

  <!------------------------------Liste de tous les triangles avec bouton supprimer---------------------------->
  <div class="col-12 col-lg-8">
    <h2 class="text-center mt-2 mini-container"><i class="bi bi-trash-fill"></i> Liste des Triangles</h2>
    <div class="row">
      <div *ngFor="let triangle of triangles" class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="mini-container p-3 border rounded">
          <p><strong>Nom :</strong> {{ triangle.nom }}</p>
          <p><strong>Couleur :</strong> {{ triangle.couleur }}</p>
          <p><strong>a :</strong> {{ triangle.coteAdjacent }} m</p>
          <p><strong>b :</strong> {{ triangle.coteOppose }} m</p>
          <p>
            <strong>Surface :</strong>
            {{ 0.5 * triangle.coteAdjacent * triangle.coteOppose | number : "1.2-2" }} m<sup>2</sup>
          </p>
          <p>
            <strong>Périmètre :</strong>
            {{ triangle.coteAdjacent + triangle.coteOppose + RC(triangle.coteAdjacent * triangle.coteAdjacent + triangle.coteOppose * triangle.coteOppose) | number : "1.2-2" }} m
          </p>
          <div class="text-center">
            <button class="btn btn-danger mt-2" (click)="deleteTriangle(triangle)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
