<div class="row">
  <div class="col-3 d-flex justify-content-center align-items-center">
    <img src="assets/videos/animation3.gif" alt="chiffre2" class="img-fluid" />
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/carre">Carré</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/rectangle">Rectangle</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/triangle">Triangle</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/cercle">Cercle</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/losange">Losange</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a class=" link-3d" routerLink="/forme3d"><b>3 D</b></a>
    </div>
  </div>

  <div class="col-3 d-flex justify-content-center align-items-center">
    <img src="assets/videos/animation4.gif" alt="lettreD" class="img-fluid" />
  </div>
</div>
