#three-container {
    width: 80%;
    height: auto; /* Prend toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    margin: 0 auto; /* Centre horizontalement */
  }
  
  /* Pour les écrans de taille moyenne (tablettes) */
  @media (max-width: 1024px) {
    #three-container {
      width: 70%;
    }
  }
  
  /* Pour les petits écrans (mobiles) */
  @media (max-width: 768px) {
    #three-container {
      width: 60%;
    }
  }