<div class="row">
  <div class="col-3 d-flex justify-content-center align-items-center">
    <img src="assets/videos/animation5.gif" alt="chiffre3" class="img-fluid">
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/cube">Cube</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/cylindre">Cylindre</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/sphere">Sphère</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a routerLink="/cone">Cone</a>
    </div>
    <div class="d-flex justify-content-center text-center mb-2">
      <a class=" link-2d" routerLink="/forme2d"><b>2 D</b></a>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-center align-items-center">
    <img src="assets/videos/animation4.gif" alt="lettreD" class="img-fluid">
  </div>
</div>
