body {
  font-family: 'Quicksand', sans-serif;
}

/* styles.css ou app.component.css */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container-fluid {
  flex: 1; /* Le conteneur principal remplit tout l'espace disponible */
}

main {
  flex: 1; /* Le main prendra tout l'espace restant */
}
