body {
  font-family: "Quicksand", sans-serif;
}

body,
html {
  margin: 0;
  height: 100%;
}



.container-fluid {
  flex: 1; /* Le conteneur principal remplit tout l'espace disponible */
}

main {
  flex: 1; /* Le main prendra tout l'espace restant */
}