<div class="container">
  <div class="row">
    <!-- Colonne Géométrie 2D -->
    <div class="col-12 col-md-6 text-center separateur-md">
      <a routerLink="/forme2d">Géométrie 2D</a>
    </div>

    <!-- Colonne Géométrie 3D -->
    <div class="col-12 col-md-6 text-center">
      <a routerLink="/forme3d">Géométrie 3D</a>
    </div>
  </div>

  <!-- Animation en-dessous des deux colonnes -->
  <div class="row">
    <div class="col-12 text-center">
      <div class="d-flex justify-content-center">
        <app-animation id="three-container"></app-animation>
      </div>
    </div>
  </div>
</div>


