<div class="container">
    <div class="row">
      <!-- Colonne Géométrie 2D -->
      <div class="col-12 col-md-6 text-center separateur-md">
        <a routerLink="/forme2d">Géométrie 2D</a>
        <div class="d-flex justify-content-center mb-5">
          <img src="assets/videos/animation1.gif" alt="animation 2D">
        </div>
      </div>
  
      <!-- Colonne Géométrie 3D -->
      <div class="col-12 col-md-6 text-center">
        <a routerLink="/forme3d">Géométrie 3D</a>
        <div class="d-flex justify-content-center">
          <img src="assets/videos/animation2.gif" alt="animation 3D">
        </div>
      </div>
    </div>
  </div>
  